doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name='viewport' content='initial-scale=1.0, user-scalable=no')
    style(type='text/css').
      html {height: 100%}
      body {height: 100%; margin: 0; padding: 0}
      #map-canvas {height: 100%}

    script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyBL9tXs7LGr5KVuRcVxcB048D2805Lo3xE&sensor=false').

    script(type='text/javascript').

      function initialize(the_booths) {
        //console.log('hello from initialize');
        //console.dir(the_booths);
        var boothMapData = [];

        //must only load map after window has loaded.
        google.maps.event.addDomListener(window, 'load', setItUp);

        //Data points defined as an array of LatLng objects
        for (var i = 0; i < the_booths.length; i++) {
          var weight_ = 1;
          boothMapData.push({location: new google.maps.LatLng(the_booths[i].latitude, the_booths[i].longitude), weight: weight_});
        }

        //console.dir(boothMapData);

        function setItUp() {
          var melbourne = new google.maps.LatLng(-37.814251, 144.963165);
          var ararat = new google.maps.LatLng(-37.2833300, 142.9333300);

          var map = new google.maps.Map(document.getElementById('map-canvas'), {
            center: ararat,
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.SATELLITE
          });
    
          var heatmap = new google.maps.visualization.HeatmapLayer({
            //gradient: ['', '#B3CEF6', '#000'],
            data: boothMapData 
          });

          heatmap.setMap(map);
        }

      }


    !="<script type='text/javascript'>"
    !="var booths = [];"
    -for booth in booths
      !="booths.push({'latitude':"  + booth.latitude  + ", " + "'longitude':" + booth.longitude + ", " + "'greens_perc_2010':" + booth.greens_perc_2010 + ", " + "'greens_perc_2006':" + booth.greens_perc_2006 + ", " + "'weight':" + booth.weight + "});"
    !="initialize(booths);"
    !="</script>"


  body
    div(id='map-canvas')
